<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="null" debug="null">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss.SSS}  [ %t:%r ] - [ %p ]  %m%n" />
		</layout>
	</appender>

	<appender name="D" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/temp/log4j" />
		<param name="DatePattern" value="'-'yyyyMMddHHmm'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="debug" />
		</filter>
	</appender>

	<appender name="E" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/temp/error" />
		<param name="DatePattern" value="'-'yyyyMMddHHmm'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<appender name="Ext" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/temp/ext_benchmark" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss.SSS}  [ %t:%r ] - [ %p ]  %m%n" />
		</layout>
		<filter class="com.iflytek.ossp.framework.common.log.ExtendedFilter">
			<param name="LevelMin" value="EXT" />
			<param name="LevelMax" value="EXT" />
		</filter>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="D" />
		<appender-ref ref="Ext" />
	</root>
</log4j:configuration>