<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>security</display-name>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<filter>
		<filter-name>CSRFRefererFilter</filter-name>
		<filter-class>csrf.CSRFRefererFilter</filter-class>
		<init-param>
			<param-name>referer_prefix</param-name>
			<param-value>http://localhost:8080/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CSRFRefererFilter</filter-name>
		<url-pattern>target.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CSRFTokenFilter</filter-name>
		<filter-class>csrf.CSRFTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSRFTokenFilter</filter-name>
		<url-pattern>token2.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>SimpleXSSFilter</filter-name>
		<filter-class>xss.EsapiXSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SimpleXSSFilter</filter-name>
		<url-pattern>xss.jsp</url-pattern>
	</filter-mapping>

	<!-- Google simple scrf filter -->
	<filter>
		<filter-name>csrfFilter</filter-name>
		<filter-class>csrf.StatelessCookieFilter</filter-class>
		<init-param>
			<param-name>csrfTokenName</param-name>
			<param-value>csrf</param-value>
		</init-param>
		<init-param>
			<!-- optional. urls to exclude from check -->
			<param-name>exclude</param-name>
			<param-value>/url1,/url/url2</param-value>
		</init-param>
		<init-param>
			<!-- optional. urls to exclude from generating csrf cookie. Useful for 
				ajax requests that do not contain forms -->
			<param-name>excludeGET</param-name>
			<param-value>/url3,/url/url4</param-value>
		</init-param>
		<init-param>
			<!-- optional. urls to exclude from generating csrf cookie. Exclude do 
				check servletPath().startsWith() -->
			<param-name>excludeGETStartWith</param-name>
			<param-value>/js/,/css/,/img/</param-value>
		</init-param>
		<init-param>
			<!-- optional. cookieMaxAge. By default 3600 seconds -->
			<param-name>cookieMaxAge</param-name>
			<param-value>18000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>csrfFilter</filter-name>
		<url-pattern>token2.jsp</url-pattern>
	</filter-mapping>

</web-app>